---
import Bio from "../../components/Bio.astro";
import Layout from "../../layouts/Layout.astro";
import { render, type CollectionEntry } from "astro:content";
import { formatPostDate, getSortedPosts } from "../../lib/posts";

interface Props {
    post: CollectionEntry<"blog">;
    previousPost: CollectionEntry<"blog"> | null;
    nextPost: CollectionEntry<"blog"> | null;
}

export async function getStaticPaths() {
    const posts = await getSortedPosts();

    return posts.map((post, index) => ({
        params: { slug: post.id },
        props: {
            post,
            previousPost: posts[index + 1] ?? null,
            nextPost: posts[index - 1] ?? null
        }
    }));
}

const { post, previousPost, nextPost } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
    <article class="blog-post" itemscope itemtype="https://schema.org/Article">
        <header>
            <h1 itemprop="headline">{post.data.title}</h1>
            <p>{formatPostDate(post.data.date)}</p>
        </header>
        <section itemprop="articleBody">
            <Content />
        </section>
        <hr />
        <footer>
            <Bio />
        </footer>
    </article>
    <nav class="blog-post-nav">
        <ul>
            <li>
                {
                    previousPost && (
                        <a href={`/blog/${previousPost.id}/`} rel="prev">
                            &larr; {previousPost.data.title}
                        </a>
                    )
                }
            </li>
            <li>
                {
                    nextPost && (
                        <a href={`/blog/${nextPost.id}/`} rel="next">
                            {nextPost.data.title} &rarr;
                        </a>
                    )
                }
            </li>
        </ul>
    </nav>
</Layout>
